<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html lang="en">
<head></head>
<body class="container">
<header th:text = "${title}">Default Title</header>
<h1 th:text = "${h1}">Default h1</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">d
        <label th:for="name">Note Title</label>
        <input class="form-control" th:field="${note.title}" />
        <span th:errors="${note.title}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="content">Note Content</label>
        <input class="form-control" th:field="${note.content}" />
        <span th:errors="${note.content}" class="error"></span>
    </div>

    <input type="submit" value="Add Note" />
</form>
</body>
</html>