<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="container">
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${note.noteId}"></td>
    </tr>
    <tr>
        <th>Title</th>
        <td th:text="${note.title}"></td>
    </tr>
    <tr>
        <th>Content</th>
        <td th:text="${note.content}"></td>
    </tr>
</table>

<form th:action="@{/notes/update/{noteId}(noteId=${note.noteId})}" th:object=${note} th:method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Update Note Title</label>
        <input class="form-control" />
    </div>

    <div class="form-group">
        <label th:for="content">Update Note Content</label>
        <input class="form-control"  />
    </div>
    <button class="submit">Update Note</button>
</form>

</body>
</html>